* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
.all {
    background-color: black;
}
body {
    justify-content: center;
    display: flex;
}
.signin {
    color: white;
    margin-bottom: 0.5%;
    margin-left: 0.7%;
}
.mail, .pwd {
    padding: 2%;
    width: 65%;
    margin-bottom: 1%;
    border-radius: 3%;
    border-color: rgb(152, 152, 152);
    background-color: rgb(30, 29, 29);
    margin-left: 1%;
    margin-top: 4%;
}
.sign {
    padding: 1.5%;
    width: 70%;
    margin-top: 2.5%;
    margin-left: 1%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3%;
}
.or {
    margin-left: 35%;
    margin-top: 4%;
    margin-bottom: 0.01%;
    color: white;
}
.Use {
    padding: 1.5%;
    width: 70%;
    margin-top: 3%;
    margin-left: 1%;
    color: white;
    background-color:rgb(49, 48, 48);
    border: none;
    border-radius: 3%;
    font-size: 80%; 
}
.forgot {
    color: white;
    margin-left: 22%;
    margin-top: 3%;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    background-color: white;
    border: none;
    padding: 2%;
    width: 5%;
    margin-top: 3%;
    margin-left: 2%;
    
}
.remember {
    color: white;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.me {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.new {
    margin-top: 4%;
    margin-left: 1%;
    font-size: 80%;
}
.this {
    margin-top: 4%;
    margin-left: 1%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;  
}
.learn {
    color: blue;
}